<!--TITULO -->
<div class="ui header">{{uiModel.name}}</div>

<!-- DESCRIPCION -->


<div class="ui stacked segment ">
    <h5 class="ui top header">Descripción</h5>
    <div class="">{{uiModel.description}}</div>
</div>

<div ng-repeat="item in uiModel.requiredFields">

    <div class="field" ng-include="'./views/textfield.html'" ng-show="item.uiType()=='textfield'" ng-init="data=item"></div>

    <div class="field" ng-include="'./views/textarea.html'" ng-show="item.uiType()=='textarea'" ng-init="data=item"></div>

    <div class="field" ng-include="'./views/description.html'" ng-show="item.uiType()=='description'" ng-init="data=item"></div>

    <div class="field" ng-include="'./views/file.html'" ng-show="item.uiType()=='file'" ng-init="data=item"></div>

    <div class="field" ng-include="'./views/combobox.html'" ng-show="item.uiType()=='combobox'" ng-init="data=item"></div>

    <div class="field" ng-include="'./views/payloadXML.html'" ng-init="payload=item" ng-show="item.uiType()=='payloadXML'"></div>

    <div class="field" ng-include="'./views/payloadXML.html'" ng-init="payload=item" ng-show="item.uiType()=='panel'"></div>

    <div class="field" ng-include="'./views/panel.html'" ng-init="panelData=item" ng-show="item.uiType()=='panel'"></div>

    <div class="field" ng-include="'./views/header-panel.html'" ng-init="panelData=item" ng-show="item.uiType()=='header-panel'"></div>
</div>





