<div class="ui top attached large label ">Contexto</div>
<div class="ui two columns doubling stackable grid container form" ng-repeat="group in contextModel.getGroups">

    <div class="column grouped fields">
        <div class="field ui radio checkbox">
            <input type="radio" name="group" ng-checked="group==groupSelected" ng-click="controller.setGroup(group)">
            <label>{{group}}</label>
        </div>
    </div>

    <div class="column grouped fields">
        <div class="field ui radio checkbox" ng-repeat="env in contextModel.getEnvs(group)">
            <input type="radio" name="{{group}}" ng-checked="$index==0" ng-click="controller.setEnv(group, env)">
            <label>{{env}}</label>
        </div>
    </div>

</div>
