<div class="ui header"> Contexto</div>

<div class="ui form">
    <div class="field">
        <label>Grupo</label>
        <select class="ui search dropdown" ng-model="groupSelected">
            <option ng-repeat="group in contextModel.getGroups" value="{{group}}">{{group}}</option>
        </select>
    </div>
    <div class="grouped fields">
        <label>Ambientes</label>
        <div class="field ui radio checkbox" ng-repeat="env in contextModel.getEnvs(groupSelected)">

            <input type="radio" name="env" ng-checked="$index==0" ng-click="controller.setEnv(env)">
            <label>{{env}}</label>

        </div>
    </div>

</div>
