<!DOCTYPE html>
<html lang="en" ng-app="om-app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Logo Nav - Start Bootstrap Template</title>
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <link href="semantic-ui/semantic.min.css" rel="stylesheet">
    <link href="css/om-style.css" rel="stylesheet">

</head>

<body>


<div class="" ng-controller="userDetailsCtrl">
    <div class="ui active dimmer" ng-show="activeLoader">
        <div class="ui loader"></div>
    </div>
    <div class="ui inverted segment attached">
        <h3 class="ui header">OM Client</h3>
    </div>
    <div class="ui doubling padded stackable grid">

        <div class="four wide column  ">
                <div class="ui top attached segment black" ng-include="'./views/contexto.html'" ng-init="contextModel=context"></div>
                <div class="ui top attached segment black" ng-init="menuData=menuSpec" ng-include="'./views/menu.html'"></div>
        </div>

        <div class="nine wide column">

            <div class="ui top attached tabular menu">
                <a class="active item" data-tab="firstTab">Definición</a>
                <a class="item" data-tab="secondTab">Resultado</a>
            </div>

            <div class="ui bottom attached active tab segment" data-tab="firstTab">

                <div class="ui form ">
                    <div class="field" ng-show="serviceSelected!=undefined" ng-model="serviceSelected" ng-include="templateURL" onload="uiModel=serviceSelected"></div>

                    <button ng-click="controller.submitRequest()" class="ui primary button field">Enviar</button>
                </div>

            </div>
            <div class="ui bottom attached tab segment" data-tab="secondTab">

                <div class="ui top attached tabular menu">
                    <a class="item active" data-tab="first">Formateado</a>
                    <a class="item" data-tab="second">Plano</a>
                    <a class="item" data-tab="third">Details</a>
                </div>
                <div class="ui bottom attached tab segment active" data-tab="first" style="overflow: auto;">
                    <pre>{{formatResult}}</pre>
                </div>
                <div class="ui bottom attached tab segment" data-tab="second" style="overflow: auto;">
                    <pre>{{plainResult}}</pre>
                </div>
                <div class="ui bottom attached tab segment" data-tab="third" style="overflow: auto;">
                    <pre>{{detailsResult}}</pre>
                </div>

            </div>
        </div>

    </div>
</div>


<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="./semantic-ui/semantic.min.js"></script>
<script src="../target/scala-2.11/om-soap-fastopt.js"></script>
<script src="angular.min.js"></script>
<script src="./js/om-script.js"></script>
<script type="text/javascript" src="/workbench.js"></script>
<script !src="">
    OM.MainApp().main()



















</script>
</body>

</html>
